GROQ_API_KEY=groq-api-key
LANGCHAIN_API_KEY=langchain-key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=telecom_agent
POSTGRES_CONNECTION=pg-connection
COLLECTION_NAME=telecom_docs

TELECOM_API_BASE_URL=some-api-url

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=redis-port
REDIS_PASSWORD=some-redis-db
REDIS_DB=0
